# =========================
# Nexrun AI Environment
# =========================

# Server
PORT=3000
NODE_ENV=development

# =========================
# Supabase
# =========================

SUPABASE_URL=https://supabase.com/dashboard/project/btwhvieohdrhuztkbjyc/settings/api-keys

# Safe to use on the frontend/server as the Supabase publishable key
SUPABASE_PUBLISHABLE_KEY=sb_publishable_mnLyll7PjUsVtlwaTp6e-Q_jNuUO6wl
